# Compiled
target/
*.class
*.jar
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.project
.classpath

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Database
*.db

# Environment
.env

# Maven
.mvn/wrapper/maven-wrapper.jar
.factorypath
